// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #fafafa
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
// remove this line to respect code highlighting styles
// $color-background-code = darken($color-background, 2%)
$color-background-inline-code = #2b2b2b
$color-inline-code = #fafafa
$color-border = #6C7680
$color-meta = #6C7680
$color-meta-code = lighten($color-meta, 10%)
$color-link = #399EE6
$color-text = darken(#959da6, 15%)
$color-accent-3 = #8c8c8c
$color-accent-2 = $color-text
$color-accent-1 = #86b300
$color-quote = #86b300
$color-quote-border = darken(#86b300, 10%)
$highlight = hexo-config("highlight") || "atelier-cave-light"
